<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.arman.syndrom_down">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="landscape" />
        <activity
            android:name=".SplashActivity"
            android:label="@string/app_name"
            android:noHistory="true"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AmoozeshActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".BaziActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".LoghatActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".JomleActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".KhanevadeActivity"
            android:launchMode="singleTop"
            android:screenOrientation="landscape" />
        <activity
            android:name=".AndamActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".MiveActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".HeyvanatActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".PooshakActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".VasayelActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".MashaghelActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".KhordaniActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".RangActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".MafahimActivity"
            android:launchMode="singleTop"
            android:screenOrientation="landscape" />
        <activity
            android:name=".FelActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Kalame2Activity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Kalame3Activity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".FelGeneralActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".AmrActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".GozashteActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".HessiActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ZamirActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Bazi1Activity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Bazi2Activity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".LoghatGeneralActivity1"
            android:launchMode="singleTop"
            android:screenOrientation="landscape" />
        <activity
            android:name=".LoghatGeneralActivity2"
            android:screenOrientation="landscape" />
        <activity
            android:name=".LoghatGeneralActivity3"
            android:screenOrientation="landscape" />
        <activity
            android:name=".LoghatGeneralActivity4"
            android:screenOrientation="landscape" />
        <activity
            android:name=".LoghatGeneralActivity5"
            android:screenOrientation="landscape" />
        <activity
            android:name=".LoghatGeneralActivity6"
            android:screenOrientation="landscape" />
        <activity
            android:name=".FelGeneralActivity1"
            android:screenOrientation="landscape" />
        <activity
            android:name=".FelGeneralActivity2"
            android:screenOrientation="landscape" />
        <activity
            android:name=".FelGeneralActivity3"
            android:screenOrientation="landscape" />
        <activity
            android:name=".FelGeneralActivity4"
            android:label="@string/title_activity_fel_general_activity4"
            android:screenOrientation="landscape" />
        <activity
            android:name=".BaziListActivity"
            android:label="@string/title_activity_bazi2_list"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Bazi2Activity2"
            android:label="@string/title_activity_bazi2_activity2"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Bazi2Activity3"
            android:label="@string/title_activity_bazi2_activity3"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Bazi2Activity4"
            android:label="@string/title_activity_bazi2_activity4"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Bazi1Activity2"
            android:label="@string/title_activity_bazi1_activity2"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Bazi1Activity3"
            android:label="@string/title_activity_bazi1_activity3"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".Bazi1Activity4"
            android:label="@string/title_activity_bazi1_activity4"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".Bazi1Activity5"
            android:label="@string/title_activity_bazi1_activity5"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".Bazi1Activity6"
            android:label="@string/title_activity_bazi1_activity6"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".Bazi2Activity5"
            android:label="@string/title_activity_bazi2_activity5"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".Bazi2Activity6"
            android:label="@string/title_activity_bazi2_activity6"
            android:screenOrientation="landscape"></activity>
    </application>

</manifest>
